body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

.search-container {
    margin: 20px;
}

input {   
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
}

canvas{
    margin-top: 30px;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
}

.controls {
    margin-top: 20px;
    color: white;
}

.controls label {
    margin-right: 20px;
    cursor: pointer;
}

.result-box {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.change {
    margin-left: 12px;
    font-weight: 600;
    opacity: 0;
    animation: fadeIn 0.4s forwards;
}

.positive {
    color: #00ff99;
    text-shadow: 
    0 0 12px rgba(0,255,153,0.9),
    0 0 25px rgba(0,255,153,0.6);
}

.negative {
    color: #ff4d4d;
    text-shadow: 
    0 0 12px rgba(255,77,77,0.9),
    0 0 25px rgba(255,77,77,0.6);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mode-toggle{
    margin-top: 15px;
}

.mode-btn{
    background: transparent;
    border: 1px solid #00ffcc;
    color: #00ffcc;
    padding: 6px 14px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mode-btn.active{
    background: #00ffcc;
    color: black;
    box-shadow: 0 0 15px rgba(0,255,204,0.7);
}

#macdChart {
    margin-top: 30px;
}